.comment {
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 3px 2px 8px #87878780;
}

.comment .comment {
    box-shadow: none;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    color: #EF4823;
    margin-bottom: 1rem;
}

p {
    margin-top: 5px;
}
.comment a {
    color: rgb(0, 102, 204);
    text-decoration: underline;
}
.comment a:hover {
    text-decoration: none;
}

/* Mobile */

@media screen and (max-width: 760px) {
    .comment {
        width: 90%;
    }

    .comment .comment {
        width: 95%;
    }
}