.app {
    margin: 1rem;
    width: 96%;
}

.main {
    font-family: "Reddit Sans", sans-serif;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
  

/* Large Desktop */

@media screen and (min-width: 1200px) {
    .app {
        max-width: 1200px;
    }
}   