body {
  margin: 0;
  font-family: 'Reddit Sans', 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #E7E8E9;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
