.newsFeed {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    gap: 1rem;
    color: #000000;
    width: 75%;
    border-radius: 10px;
}

/* Mobile */

@media screen and (max-width: 760px) {
    
    .newsFeed {
        width: 100%;
    }
}   